<!DOCTYPE html>
{% extends 'base.html' %}
{%  load crispy_forms_tags %}

{% block title %}
Movies
{% endblock %}

{% block content %}
<!--<center>-->
<!--<h3>Movie Details</h3>-->
<!--    <form method="POST" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--    <div class="mb-3">-->
<!--  <label class="form-label">Tittle</label>-->
<!--  <input type="text" class="form-control" name="t" placeholder="Enter title name">-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--     <label class="form-label">desc</label>-->
<!--    <input type="text" class="form-control" name="d" placeholder="Enter the description">-->
<!--            </div>-->

<!--            <div class="mb-3">-->
<!--     <label  class="form-label">year</label>-->
<!--    <input type="number" class="form-control" name="y" placeholder="Enter the year">-->
<!--                </div>-->

<!--                <div class="mb-3">-->
<!--    <label  class="form-label">image</label>-->
<!--    <input type="file" class="form-control" name="i" >-->
<!--                </div>-->


<!--        <div class="mb-3">-->
<!--             <input type="submit" class="form-control" >-->
<!--        </div>-->
<!--</form>-->
<!--</center>-->

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        {{form|crispy}}

    <input type="submit">

</form>

{% endblock %}