{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for i in c %}
      <div class="col-md-3">
          <div class="card" style="margin-right:10px; margin-top:10px; ">
            <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" height="250px;">
            <div class="card-body"  >
                <h5 class="card-title" style="height:50px;" >{{i.title}}</h5>
                <p class="card-text" style="height:150px;">{{i.desc}}</p>
                <a href="{% url 'card:moviedetail' i.id %}" class="btn btn-danger">Details</a>
            </div>
          </div>
      </div>
        {% endfor %}

    </div>
</div>
{% endblock %}






